# ===================================================================
# tpDcc-libs-nameit requirements file
# ===================================================================
pyyaml
lucidity
tpDcc-libs-python
tpDcc-core
tpDcc-libs-qt