# ===================================================================
# tpDcc-libs-nameit requirements file
# ===================================================================
tpDcc-libs-ptyhon==0.0.11